<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Student Infomation Management System</display-name>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <display-name>loginServlet</display-name>
        <servlet-class>common.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinInsertServlet</servlet-name>
        <display-name>bulletinInsertServlet</display-name>
        <servlet-class>bulletin.servlet.BulletinInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinListServlet</servlet-name>
        <display-name>bulletinListServlet</display-name>
        <servlet-class>bulletin.servlet.BulletinListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinDeleteServlet</servlet-name>
        <display-name>bulletinDeleteServlet</display-name>
        <servlet-class>bulletin.servlet.BulletinDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinInfoServlet</servlet-name>
        <display-name>bulletinInfoServlet</display-name>
        <servlet-class>bulletin.servlet.BulletinInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInsertServlet</servlet-name>
        <display-name>userInsertServlet</display-name>
        <servlet-class>user.servlet.UserInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentListFrashServlet</servlet-name>
        <display-name>studentListFrashServlet</display-name>
        <servlet-class>student.servlet.StudentListFrashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentDeleteServlet</servlet-name>
        <display-name>studentDeleteServlet</display-name>
        <servlet-class>student.servlet.StudentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentInfoServlet</servlet-name>
        <display-name>studentInfoServlet</display-name>
        <servlet-class>student.servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherListFrashServlet</servlet-name>
        <display-name>teacherListFrashServlet</display-name>
        <servlet-class>teacher.servlet.TeacherListFrashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherDeleteServlet</servlet-name>
        <display-name>teacherDeleteServlet</display-name>
        <servlet-class>teacher.servlet.TeacherDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherInfoServlet</servlet-name>
        <display-name>teacherInfoServlet</display-name>
        <servlet-class>teacher.servlet.TeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <display-name>imageServlet</display-name>
        <servlet-class>common.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationServlet</servlet-name>
        <display-name>verificationServlet</display-name>
        <servlet-class>common.servlet.VerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findPasswdServlet</servlet-name>
        <display-name>findPasswdServlet</display-name>
        <servlet-class>user.servlet.UserPasswdFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePasswdServlet</servlet-name>
        <display-name>updatePasswdServlet</display-name>
        <servlet-class>user.servlet.UserPasswdUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjectListGetServlet</servlet-name>
        <display-name>subjectListGetServlet</display-name>
        <servlet-class>subject.servlet.SubjectListGetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreSubmitServlet</servlet-name>
        <display-name>scoreSubmitServlet</display-name>
        <servlet-class>subject.servlet.ScoreSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjectListQueryServlet</servlet-name>
        <display-name>subjectListQueryServlet</display-name>
        <servlet-class>subject.servlet.SubjectListQueryServlet</servlet-class>
    </servlet>






    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinInsertServlet</servlet-name>
        <url-pattern>/servlet/bulletin/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinListServlet</servlet-name>
        <url-pattern>/servlet/bulletin/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinDeleteServlet</servlet-name>
        <url-pattern>/servlet/bulletin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinInfoServlet</servlet-name>
        <url-pattern>/servlet/bulletin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInsertServlet</servlet-name>
        <url-pattern>/servlet/user/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentListFrashServlet</servlet-name>
        <url-pattern>/servlet/student/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentDeleteServlet</servlet-name>
        <url-pattern>/servlet/student/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentInfoServlet</servlet-name>
        <url-pattern>/servlet/student/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherListFrashServlet</servlet-name>
        <url-pattern>/servlet/teacher/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherDeleteServlet</servlet-name>
        <url-pattern>/servlet/teacher/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherInfoServlet</servlet-name>
        <url-pattern>/servlet/teacher/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/servlet/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationServlet</servlet-name>
        <url-pattern>/servlet/verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findPasswdServlet</servlet-name>
        <url-pattern>/servlet/passwd/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePasswdServlet</servlet-name>
        <url-pattern>/servlet/password/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjectListGetServlet</servlet-name>
        <url-pattern>/servlet/subject/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreSubmitServlet</servlet-name>
        <url-pattern>/servlet/score/submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjectListQueryServlet</servlet-name>
        <url-pattern>/servlet/score/query</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>


</web-app>

