<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Student Infomation Management System</display-name>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <display-name>loginServlet</display-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinInsertServlet</servlet-name>
        <display-name>bulletinInsertServlet</display-name>
        <servlet-class>servlet.bulletin.BulletinInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinListServlet</servlet-name>
        <display-name>bulletinListServlet</display-name>
        <servlet-class>servlet.bulletin.BulletinListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinDeleteServlet</servlet-name>
        <display-name>bulletinDeleteServlet</display-name>
        <servlet-class>servlet.bulletin.BulletinDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinInsertServlet</servlet-name>
        <url-pattern>/servlet/bulletin/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinListServlet</servlet-name>
        <url-pattern>/servlet/bulletin/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinDeleteServlet</servlet-name>
        <url-pattern>/servlet/bulletin/delete</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>


</web-app>

